
.home {
	display: block;
}

.home .page-content {
	background-image: url(../../images/concert.jpg);
	background-position: center;
	background-size: cover;
	text-align: center;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.welcome {
	background-color: hsla(0, 0%, 0%, .5);
	padding: 0 20px;
}

.welcome .inner-column {
	display: flex;
	flex-direction: column;
	gap: 20px;
	/*border: green solid 2px;*/
}

.welcome :is(h1,p,a) {
	color: var(--white);
}

.home-list li {
	margin-bottom: 30px;
}
.home-list h1 {
	color: var(--white);
}
