summary-text {
	display: flex;
	flex-direction: column;
	padding: 20px;
	align-content: center;
	align-items: center;
	border: solid 1px var(--sage);
	border-radius: 8px;
	margin: 20px;
	background-color: var(--sage);
	text-align: center;
}

summary-text span {
	font-weight: 700;
}