/* Form-list */

.form-list .form {
	display: grid;
	gap: 10px;
	padding: 0 20px;
}

form-list {
	display: block;
}

form-list ul {
	display: grid;
	gap: 10px;
	padding: 50px 20px;
}

form-list ul li a:hover{
	color: var(--aqua);
}





/* FORMS */

.form inner-column {
	display: grid;
	gap: 40px;
	padding: 0 20px;
	border: 2px solid black;
}

.form header a:hover {
	color: var(--aqua);
}

.form form {
	display: grid;
	gap: 20px;
}

.form form .field textarea {
	font-family: work sans, sans serif;
	font-size: 16px;
	font-weight: 300;
	display: block;
	width: 100%;
	/*max-width: 100%;*/
	resize: none;
	border: solid 1px var(--ink);
	border-radius: 6px;
	color: var(--ink);
	background-color: var(--paper);
	padding: 10px;
}

/* Whenever you select this box the highlight will be orange instead of the default blue */
.form form .field textarea:focus-visible, input:focus-visible, select:focus-visible {
	outline-color: var(--aqua);
 	outline-style: auto;
 	outline-width: 1px;
}

/* fix them */

.form form button, input, select {
	font-family: work sans, sans serif;
	font-weight: 300;
	font-size: 16px;
	color: var(--ink);
	background-color: var(--paper);
	border: solid 1px var(--ink);
	border-radius: 6px;
	padding: 3px 12px;
}

.form form button:hover {
	color: var(--aqua);
	background-color: var(--paper);
	border: solid 1px var(--aqua);	
}

.form form .visible {
	margin-bottom: 20px;
}

.form form .hide {
	display: none;
}

.form form .tryagain {
	color: var(--red);
}

.form form span {
	/*background-color: var(--white);*/
	color: var(--ink);
	padding: 0 3px;
}

.form form p + ul {
	padding-top: 20px;
}





