


body {
	background-color: var(--creamy);
	color: var(--darkblue);
	margin-top: 40px;
}


introduction {
	display: block;
	background-color: var(--darkblue);
	color: var(--creamy);
	padding: 20px;
	/*border: red solid 1px;*/
}


.page-content inner-column {
	display: flex;
	flex-direction: column;
	border: 1px solid var(--darkblue);
}

h2 + p, h2 + ul, h1 +h2 {
	margin-top: 15px;
}

@media (min-width: 545px) {
	.page-content inner-column {
		flex-direction: row-reverse;
	}
}



work-experience {
	display: block;
	padding: 20px 20px 10px 20px;
}

work-experience .job-info {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

work-experience .job-info .job-list{
	display: flex;
	flex-direction: column;
	gap: 3px;
}

work-experience .job-list .task {
	list-style: outside;
	list-style-type: square;
	margin-left: 1rem;	
}




personal-info {
	display: flex;
	flex-direction: column-reverse;
	padding: 10px 20px 100px 20px;
	gap: 20px;
	/*border: red solid 1px;*/
}

@media (min-width: 545px) {
	personal-info {
		flex-direction: column;
		padding: 20px 20px 80px 20px;
	}
}

contact-info {
	display: block;
}

contact-info ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

/* ICONS */

[class^="icon-"], [class*=" icon-"] {
    height: 2rem;
    width: 2rem; 
    fill: currentColor; 
}

technical-skills {
	display: block;
}

interest-info {
	display: block;
}
