


body {
	background-color: var(--creamy);
	color: var(--darkblue);
	margin-top: 40px;
}


introduction {
	display: block;
	background-color: var(--darkblue);
	color: var(--creamy);
	padding: 20px;
	/*border: red solid 1px;*/
}


.page-content inner-column {
	display: flex;
	flex-direction: column;
	border: 1px solid var(--darkblue);
}

h2 + p, h2 + ul, h1 +h2 {
	margin-top: 15px;
}

@media (min-width: 545px) {
	.page-content inner-column {
		flex-direction: row-reverse;
	}
}



work-experience {
	display: block;
	padding: 20px 20px 10px 20px;
	/*border: red solid 1px;*/
}
work-experince .list ul {
   padding-left: 20px;
 }

work-experience .list .task {
	list-style: outside;
	list-style-type: square;
	padding-left: 3em;
}

work-experience .list .task::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 20px;
    text-align: end;
    text-align-last: start;
    padding-left: 20px;
}

work-experience .job-info {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

work-experience .job-info .list{
	/*margin-bottom: 20px;*/
	display: flex;
	flex-direction: column;
	gap: 3px;
}



personal-info {
	display: flex;
	flex-direction: column-reverse;
	padding: 10px 20px 80px 20px;
	gap: 20px;
	/*border: red solid 1px;*/
}

@media (min-width: 545px) {
	personal-info {
		flex-direction: column;
		padding: 20px 20px 80px 20px;
	}
}

contact-info {
	display: block;
}

contact-info ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

/* ICONS */

[class^="icon-"], [class*=" icon-"] {
    height: 2rem;
    width: 2rem; 
    fill: currentColor; 
}

technical-skills {
	display: block;
}

interest-info {
	display: block;
}
