
/* buttons and icons and smaller reusable bits here */

.button {
	display: block;

	font-family: open sans, sans-serif;
	font-weight: 300;
	font-size: .8rem;
	line-height: 1.4;
	/*letter-spacing: 1px;*/
	text-transform: uppercase;

	padding: 6px 16px;
	background-color: var(--paper);
	min-width: 120px;
	text-align: center;
	border: 1px solid black;
}

.button:hover {
	background-color: var(--ink);
	color: var(--paper);
}

.search:hover {
	color: var(--ink);
}
search-button {
	display: flex;
	flex-direction: row;
	border: 1px solid black;
}

search-button input, search-button button {
	font-family: open sans, sans-serif;
	font-weight: 300;
	font-size: .8rem;
	color: var(--ink);
	background-color: var(--paper);
	border: 0;
	border-width: 0;
	padding: 6px 16px;
}

search-button input:focus-visible {
	outline-color: white;
 	outline-style: auto;
 	outline-width: 0;
}

social-media .x-menu .button {
	display: block;
}



@import 'forms.css';

/* ICONS */

[class^="icon-"], [class*=" icon-"] {
    height: 1rem;
    width: 1rem; 
    fill: currentColor; 
}

mast-head:is(.icon-cart, .icon-user, .icon-search, .icon-bars) {
	color: var(--ink);
}

mast-head:is(.icon-cart, .icon-user, .icon-search, .icon-bars):hover {
	color: var(--link-hover);
}

site-map:is(.icon-facebook, .icon-instagram, .icon-twitter, .icon-pinterest, .icon-youtube) {
	color: var(--ink);
}

site-map:is(.icon-facebook, .icon-instagram, .icon-twitter, .icon-pinterest, .icon-youtube):hover {
	color: var(--link-hover);
}

site-map .whisper-voice .icon-copyright {
	height: .7rem;
	width: .7rem;
}

site-map .icon-facebook, .icon-instagram, .icon-twitter, .icon-pinterest, .icon-youtube  {
	height: 2rem;
	width: 2rem;
}

site-map .icon-submit {
	align-items: center;
}

feed-back .icon-tree {
	display: inline-block;
}












