/* 
	BTW in case it isn't obvious... the whole PSSST-CSS idea is a joke 
	like... (it's just CSS)
*/

/* P reset */
@import 'preset.css';

/* S etup */
@import 'setup.css';

/* S setings */
@import 'settings.css';
/*@import 'developer-styles.css';*/

/* S tructure */
@import 'structure.css';

/* T ypography */
@import 'typography.css';

/* C omponents */
@import 'components.css';

/* S tuff (modules) */
@import 'modules.css';

/* S ections and more stuff */

/* then other contextual styles */
body {
	background-color: var(--paper);
	color: var(--ink);
}

section:is(.sign-up, .get-involved, .welcome) inner-column {
	width: 100%;
	max-width: 100%;
}

/*@media only screen and (min-width: 554px) {
   .sign-up {
		padding-top: 83.3px;
	}
}*/

/*.get-involved, .sign-up {
  position: relative;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
} 
.get-involved::before, .sign-up::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.45);
  width: 100%;
  height: 100%;
  top: 0;
}*/

/*section.get-involved {
	background-color: var(--highlight);
}*/

/*section.get-involved .button {
	background-color: black;
	color: white;
}*/


/*@media (prefers-color-scheme: dark) {
	section.sign-up {
		background-color: var(--color);
		color: var(--black);
	}

	section.sign-up .button {
		background-color: var(--black);
		color: var(--white);
	}

	section.get-involved {
		background-color: var(--highlight);
		color: var(--black);
	}
}*/