
html {
	--black: #000000;
	--white: #FFFFFF;

	--babyblue: #d0f4ff;
	--orange: #ff5500;

	--lightred: #FFD1C3;

	--lightgreen: #dbffce;

	--lightyellow: #fbffa1;

	--wheat: #FFEFD5;
	--aqua: #00FFFF;

	--ink: var(--black);
	--paper: var(--white);
	--projecthover: var(--orange);
	--borders: var(--black);
}
#FFDA85