
@import 'meyer-reset.css';
@import 'setup.css';
@import 'settings.css';
@import 'structure.css';
@import 'typography.css';
@import 'style.css';

header .site-menu {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 10px;
}

.query {
	display: block;
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
	padding: 20px 0;
}