
html {
	box-sizing: border-box;
	/*background: linear-gradient(to bottom left, saddlebrown 50%, pink 50%);*/
}

*, *:before, *:after{
	box-sizing:  inherent;
}

body {
	font-family:  times new roman;
	background-image: linear-gradient(to bottom left, gray,lightpink);
}

.menu {
	background-image: linear-gradient(to bottom left, gray,lightpink);
	padding: 20px;
}

.top-menu {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 20px;
	/*border: solid 2px black;*/
}

.top-menu a {
	color: white;
	text-decoration: none;
  	/*background-color: black;*/
  	transition: background-color .8s ease-out;
  	padding: 3px;
  	/*border: 3px solid;*/
  	text-align: center;
}

.top-menu a:hover {
  background-color: white;
  color: black;
}

.content {
	background: linear-gradient(45deg, gray 50%, pink 50%);
	padding: 20px;
	height: 800px;
}

.inner-column {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	vertical-align: middle;
}

.inner-column h1 {
	font-size: 100px;
	color: white;
}

.inner-column p {
	font-size: 40px;
	color: white;
}

.main {
	background: linear-gradient(45deg, gray 50%, pink 50%);
	padding: 20px;
}

.fav {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.fav a {
	text-decoration: none;
	color: white;
	transition: color .3s ease-out;
}

.fav a:hover {
	color: black;
}

.bottom-menu {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 20px;
	/*border: solid 2px black;*/
}

.bottom-menu a {
	color: white;
	text-decoration: none;
  	/*background-color: black;*/
  	transition: background-color .8s ease-out;
  	padding: 3px;
  	/*border: 3px solid;*/
  	text-align: center;
}

.bottom-menu a:hover {
  background-color: white;
  color: black;
}


