
html {
	--black: #111111;
	--white: #efefef;

	--neutral-stuffs: gray;

	--darkblue: #033041;
	--orange: #fba942;
	--creamy: #fef4dd;
	--redorange: #e95c15;
	--highlight: #aadee9;

	--shadow: rgba(0,0,0,.8);

	--corners: 10px; /* or whatevers */

	--paper: var(--white);
	--ink: var(--black);

	--circlepink: #fa009a;
	--squareblue: #447afa;

	/* DARK MODE COLORS*/

	--lightgray: #bac3c6;
	--bluegray: #6c8490;
	--blackpearl: #1d272e;
	--darkgreen: #1b2a1e;
	--forestgreen: #384f38;
	--pastelgreen: #85977b;

}

@media (prefers-color-scheme: dark) {

}
