


body {
	background-color: var(--creamy);
	color: var(--darkblue);
	margin: 40px 0;
}

.page-content {
	padding: 10px;
}

text {
	display: block;
	/*border: 1px red solid;*/
}

section header {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-bottom: 30px;
}

section header p {
  	max-width: 45ch;
}

section ul {
	display: block;
	padding-bottom: 30px;
}

section ul li {
	display: flex;
	flex-direction: column;
	gap: 10px;
	border-top: 1px solid black;
	padding: 10px 0;
}

image-grid {
	display: flex;
	flex-direction: column;
	gap: 10px;
	display: block;
	display: grid;
	/*border: 1px red solid;*/
}


@media(min-width: 600px) {
	section ul, image-grid {
		display: grid;
	  	grid-template-columns: auto auto;
	  	gap: 10px;
	}
}

@media(min-width: 1000px) {
	module-one {
		display: flex;
		flex-direction: row;
		gap: 10px;
		flex-basis: 50%;
	}

	image-grid img {
		height: 100%;
	}

	image-grid {
		padding: 10px;
	}
}










