


body {
	background-color: var(--creamy);
	color: var(--darkblue);
	margin: 40px 0;
}


module-one {
	display: block;
	padding: 10px;
}

module-one text {
	display: block;
	/*border: 1px red solid;*/
}

module-one header {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-bottom: 30px;
}

module-one header p {
  	max-width: 45ch;
}

module-one ul {
	display: block;
	padding-bottom: 30px;
}

module-one ul li {
	display: flex;
	flex-direction: column;
	gap: 10px;
	border-top: 1px solid black;
	padding: 10px 0;
}

image-grid {
	display: flex;
	flex-direction: column;
	gap: 10px;
	display: block;
	display: grid;
	/*border: 1px red solid;*/
}


@media(min-width: 600px) {
	module-one ul, image-grid {
		display: grid;
	  	grid-template-columns: auto auto;
	  	gap: 10px;
	}
}

@media(min-width: 1000px) {
	module-one {
		display: flex;
		flex-direction: row;
		gap: 10px;
		flex-basis: 50%;
	}

	image-grid img {
		height: 100%;
	}

	image-grid {
		padding: 10px;
	}
}

space-break {
	display: flex;
	justify-content: center;
	height: 8vh;
	background-color: var(--black);
	margin: 50px 0;
	text-align: center;
	align-items: center;
	color: var(--white);
}




/* LAYOUT TWO */

/* SVG */

/*rect {
	fill: var(--squareblue);
	stroke:black;
	stroke-width:0.7px;
}*/

.square {
	fill: var(--squareblue);
	stroke:black;
	stroke-width:0.7px;
}

module-two {
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 30px;

}

module-two circle {
	fill: var(--circlepink);
	stroke:var(--black);
	stroke-width:0.58px;
}

module-two svg {
	width: 30px;
}

module-two header {
	display: flex;
	flex-direction: column;
	gap: 8px;
	max-width: 32ch;
}

module-two header .teaser {
	color: var(--circlepink);
}

module-two ul {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

module-two ul li {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

module-two text-box {
	display: block;
	border-top: 3px solid var(--squareblue);
	padding-top: 8px;
}

@media(min-width: 600px) {
	module-two header {
		max-width: 60ch;
	}
	module-two ul {
		display: grid;
	  	grid-template-columns: auto auto;
	  	gap: 15px;
	}
	module-two ul li {
		border: 2px solid var(--black);
		padding: 12px;
	}
	module-two text-box {
		max-width: 50ch;
		border-top: none;
		border: solid var(--squareblue);
		background-color: var(--squareblue);
		padding: 12px;
		color: #fff;
		opacity: .9;
	}
	module-two text-box p {
		max-width: 30ch;

	}
}

@media(min-width: 1000px) {
	module-two ul li {
		padding: 20px;
	}
}






/* LAYOUT THREE */

.module-three {
	max-width: 100%;
}

module-three {
	display: flex;
	flex-direction: column;
	padding-bottom: 60px;
}

module-three header {
	display: flex;
	flex-direction: column;
	gap: 8px;
	background-color: var(--orange);
	padding: 50px 10px 20px 10px;
}

module-three header p {
	max-width: 32ch;
}

module-three header .teaser {
	display: none;
	color: var(--squareblue);
}

module-three ul {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 10px;
}

module-three ul li {
	display: flex;
	flex-direction: column;
	gap: 8px;

}

module-three circle {
	fill: var(--squareblue);
	stroke:none;
	stroke-width:0.58px;
}

module-three svg {
	width: 40px;
	display: inline-block;
	position: relative;
	left: -5px;
	top: 10px;
}

@media(min-width: 450px) {
	module-three header {
		padding-bottom: 90px;
	}
	module-three ul li {
		background-color: var(--redorange);
		padding: 10px;
		position: relative;
		bottom: 70px;
	}
	module-three ul li p {
		max-width: 35ch;
	}
}

@media(min-width: 900px) {
	module-three header {
		padding: 70px 20px 180px 20px;
	}
	module-three header p {
		max-width: 50ch;
	}
	module-three ul {
		display: grid;
		grid-template-columns: auto auto auto;
		gap: 10px;
		padding: 0 20px;
	}
	module-three header .teaser {
		display: block;
	}
}



/* LAYOUT FOUR */

module-four {
	display: block;
	padding: 50px 10px;
}

module-four header {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

module-four header p {
	max-width: 50ch;
}

module-four .teaser {
	color: var(--redorange);
}

module-four ul {
	padding-top: 40px;
}
module-four ul summary {
	border-bottom: 2px solid var(--darkblue);
	padding: 5px 0;
	cursor: pointer;
	list-style-image: url(../images/plus.svg);
}

module-four ul details p {
	padding-top: 8px;
	padding-bottom: 20px;
	max-width: 42ch;
}

module-four ul summary > * {
	display: inline;
}

@media(min-width: 900px) {
	module-four {
		display: flex;
		flex-direction: row;
	}
	module-four ul {
		padding-top: 30px;
	}
}



/* LAYOUT FIVE (tomorrowland) */

tomorrow-land {
	display: block;
	padding: 50px 20px 100px 20px;
	display: grid;
	gap: 20px;
}

tomorrow-land header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	/*padding-bottom: 10px;*/
}

tomorrow-land show-cards{
	display: grid;
	gap: 20px;
}

@media(min-width: 750px) {
	tomorrow-land show-cards{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
}

tomorrow-land header img {
	width: 200px;
}

tomorrow-land mast-head {
	display: grid;
	/*grid-template-row: 1fr 1fr 1fr 1fr;
*/
}

@media(min-width: 750px) {
	tomorrow-land mast-head {
		display: flex;
		flex-direction: row;
		grid-column: 1 / 4;
		grid-row: 1 / 2;
	}
}

tomorrow-land mast-head img {
	height: 120px;
}

@media(min-width: 750px) {
	tomorrow-land mast-head img {
	height: 100%;
	}
}

tomorrow-land mast-head text {
	display: grid;
	display: flex;
	flex-direction: column;
	gap: 10px;

	padding: 20px;
	background-color: var(--redorange);
}


tomorrow-land radio-show {
	display: flex;
	flex-direction: row;
	height: 110px;
}

@media(min-width: 750px) {
	tomorrow-land radio-show {
		flex-direction: column;
		height: 300px;
	}
}

tomorrow-land radio-show picture {
	width: 130px;
}

@media(min-width: 750px) {
	tomorrow-land radio-show picture{
		width: 100%;
		height: 190px;
	}
}

tomorrow-land radio-show img {
	height: 100%;
}

tomorrow-land radio-show text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
	gap: 10px;	
	padding: 30px 20px;
	background-color: var(--redorange);
}

@media(min-width: 750px) {
	tomorrow-land radio-show text{
		padding-top: 15px;
	}
}




