

.footer-two {

}

.footer-two inner-column {
	padding: 100px 120px;
}

.footer-two footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 47px;
}

.footer-two site-map {
	display: flex;
	justify-content: center;
	gap: 61px;
}

.footer-two link-list {
	display: flex;
	gap: 137px;
}

.footer-two list-content {
	display: flex;
	flex-direction: column;
	gap: 13px;
	padding-top: 30px;
}

.footer-two list-content a {
	color: var(--systemgray);
}

.footer-two email-subscribe {
	padding: 30px 42px;
	background-color: var(--lightblue);
}

.footer-two email-content {
	display: flex;
	flex-direction: column;
	gap: 18px;
}

.footer-two email-content p {
	color: var(--systemgray);
}

.footer-two subscribe-link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 0px 0px 15px;
	gap: 56px;
	background-color: var(--white);
	border-radius: 6px;
}

.footer-two submit-icon{
	padding: 13px;
	background: #3563E9;
	border-radius: 0px 6px 6px 0px;
}

.footer-two site-map subscribe-link img {
	width: 20px;
	height: 20px;
}

.footer-two email-content p {
	width: 34ch;
}

.footer-two hr {
	width: 100%;
	background: var(--black);
	opacity: 0.06;
	border: 1px solid var(--black);
}

.footer-two social-terms {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-two social-terms main-logo img {
	width: 211px;
	height: 53px;
}

.footer-two social-terms legal-terms {
	display: flex;
	gap: 36px;
}

.footer-two social-terms social-icons {
	display: flex;
	gap: 15px;
}

.footer-two social-terms social-icons img {
	width: 35px;
	height: 35px;
}

















