
.project-main project-info {
	display: block;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	gap: 20px;
	padding-bottom: 100px;
}

.project-main project-info generic-text h2 + p {
	padding-top: 10px;
}

.project-main project-info text-link h2 + p {
	padding-top: 10px;
}

.project-main project-info text-link p + a {
	margin-top: 20px;
}

.project-main project-info text-link a {
	padding: 20px;
	display: inline-block;
	border: solid var(--white) 1px;
}

.project-main project-info text-link a:hover {
	color: var(--orange);
	border: solid var(--orange) 1px;
	background-color: hsla(0, 0%, 0%, .3);
}



/* Theme project grid */

.project-main project-info .page-header-content {
	display: block;
	grid-column: 1/13;
	grid-row: 1/3;
	padding: 20px;
	background-color: hsla(0,0%,0%, .7);
}

.project-main project-info .research-pic {
	display: block;
	grid-column: 1/13;
	grid-row: 3/4;
	padding: 20px;
	background-color: hsla(0,0%,0%, .7);
}

.project-main project-info .research-content {
	display: block;
	grid-column: 1/13;
	grid-row: 4/5;
	padding: 20px;
	background-color: hsla(0,0%,0%, .7);
}

.project-main project-info .style-tile-pic {
	display: block;
	grid-column: 1/13;
	grid-row: 5/6;
	padding: 20px;
	background-color: hsla(0,0%,0%, .7);
}

.project-main project-info .style-tile-content {
	display: block;
	grid-column: 1/13;
	grid-row: 6/7;
	padding: 20px;
	background-color: hsla(0,0%,0%, .7);
}

.project-main project-info .style-tile-two-pic {
	display: block;
	grid-column: 1/13;
	grid-row: 7/8;
	padding: 20px;
	background-color: hsla(0,0%,0%, .7);
}

.project-main project-info .style-code-content {
	display: block;
	grid-column: 1/13;
	grid-row: 8/9;
	padding: 20px;
	background-color: hsla(0,0%,0%, .7);
}

.project-main project-info .style-code-pic {
	display: block;
	grid-column: 1/13;
	grid-row: 9/10;
	padding: 20px;
	background-color: hsla(0,0%,0%, .7);
}

.project-main project-info .details-content {
	display: block;
	grid-column: 1/13;
	grid-row: 10/11;
	padding: 20px;
	background-color: hsla(0,0%,0%, .7);
}

.project-main project-info .details-pic {
	display: block;
	grid-column: 1/13;
	grid-row: 11/12;
	padding: 20px;
	background-color: hsla(0,0%,0%, .7);
}

.project-main project-info .finish-content {
	display: block;
	grid-column: 1/13;
	grid-row: 12/13;
	padding: 20px;
	background-color: hsla(0,0%,0%, .7);
}

.project-main project-info .finish-pic {
	display: block;
	grid-column: 1/13;
	grid-row: 13/14;
	padding: 20px;
	background-color: hsla(0,0%,0%, .7);
}

.project-main project-info .link-content {
	display: block;
	grid-column: 1/13;
	grid-row: 14/15;
	padding: 20px;
	background-color: hsla(0,0%,0%, .7);
}



/* Audiophile grid */

.project-main project-info .link-two-content {
	display: block;
	grid-column: 1/13;
	grid-row: 1/3;
	padding: 20px;
	background-color: hsla(0,0%,0%, .7);
}

.project-main project-info .description-pic {
	display: block;
	grid-column: 1/13;
	grid-row: 3/4;
	padding: 20px;
	background-color: hsla(0,0%,0%, .7);
}

