
.search {
	display: block;
	/*overflow-x: hidden;*/
}

.search .page-content {
	text-align: center;
}

.search h1 {
	color: var(--white);
	margin-bottom: 20px;
}

.playlist {
	background-image: url(../../images/long-stage.jpeg);
	background-position: center;
	background-size: cover;
}

.genre {
	background-image: url(../../images/mixer.jpg);
	background-position: center;
	background-size: cover;
}

.decade {
	background-image: url(../../images/discoball.jpg);
	background-position: center;
	background-size: cover;
}

.inner-column .list {
	display: flex;
	flex-direction: row;
	/*align-items: center;*/
	gap: 10px;
	padding: 0 20px;

	/* horizontal scroll */
	gap: 1rem;
	overflow-x: auto;

	/* NEW: SCROLL SNAP MAGIC */
	scroll-snap-type: x mandatory;

	margin-block-start: 1em;
   margin-block-end: 1em;

}

.inner-column .list::-webkit-scrollbar {
  display: none;
}

.inner-column .card {
	display: block;
	background-color: hsla(0, 0%, 0%, .5);

	/* horizontal scroll */
	max-width: 100%;
	flex-shrink: 0; /* secret magic */

	scroll-snap-align: center; /* start / center / end - and more */
}

.inner-column .list li a{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	border: var(--white) 2px solid;
	color: var(--white);
	width: 200px;
	height: 200px;
}

.inner-column .list li a:hover{
	border: var(--hover) 2px solid;
	background-color: hsla(0, 0%, 0%, .6);
	text-decoration: none;
}

/* Detail pages */

.detail {
	padding: 0 20px;
}

.detail h1 {
	color: var(--white);
	margin-bottom: 20px;
}

.detail ul li {
	display: block;
	border: var(--white) 2px solid;
	margin-bottom: 20px;
	padding: 10px;
	background-color: hsla(0, 0%, 0%, .6);
}

.detail ul li a{
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.inner-column .detail ul li a:hover{
	color: var(--hover);
	text-decoration: none;
}

