
@import "meyer-reset.css";

@import "setup.css";


html {
	/*background-color: bisque;*/
}

/* STRUCTURE */

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

.inner-column {
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
	/*border: orange solid;*/
}

/* TYPOGRAPHY */

.loudest-voice {
	font-size: 40px;
	font-family: times new roman;
}

.loud-voice {
	font-size: 30px;
	font-family: times new roman;
}

.regular-voice {
	font-size: 16px;
	font-family: times new roman;
	line-height: 1.2;
}

.small-voice {
	font-size: 12px;
	font-family: times new roman;
}

h1 + p {
	margin-top: 20px;
}

h2 + p {
	margin-top: 20px;
}

h3 + p {
	margin-top: 8px;
}

p + p {
	margin-top: 14px;
}

p + a {
	margin-top: 6px;
}



/* SITE SECTIONS */




/* HEADER SECTION */


.site-header {
	background-color: #c4f0fd;
	/*position: sticky;*/
	/*top: 0;*/
	/*box-shadow: 0 5px 10px hsla(240, 100%, 0%, .6);*/
}

.header {
	padding: 10px;
	gap: 20px;
	display: flex;
	align-items: center;
	/*border: solid 4px;*/
}

.site-header img {
	max-width: 30px;
	border-radius: 50%;
	overflow: hidden;
}




/* LANDING SECTION */


.landing-page {
	background-color: #6ddbfd;
	/*border: 2px solid;*/
}

.inner-column {
	/*border: 2px solid red;*/
	position: relative;
	overflow: hidden;
}

.landing-section {
	padding: 40px 60px 30px 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	/*min-height: 30vh;*/
}

.landing-picture {
	width: 100%;
	max-width: 400px;
}

.landing-section p {
	margin-top: 10px;
}

.landing-page .cloud {
	display: none;
}

/* BREAKPOINT ONE Landing section */

@media (min-width: 700px) {
	.landing-section {
		flex-direction: row;
		align-items: center;
		justify-content: flex-end;
		padding: 0 40px;
		min-height: 20vh;
	}
	.landing-section .regular-voice {
		margin-left: 20px;
	}
	.landing-section p {
		margin-top: 0;
	}
	.inner-column {
		max-width: 700px;
	}

	.landing-section .landing-picture, .landing-section .regular-voice {
		width: 50%;
	}
}

/* BREAKPOINT TWO Landing section */

@media (min-width: 1100px) {
	.inner-column {
		max-width: 900px;
	}
	.landing-section {
		max-width: 700px;
		min-height: 25vh;
		align-items: flex-start;
		padding: 40px 40px;
	}
	.landing-section .landing-picture, .landing-section .regular-voice {
		width: 50%;
	}
	.landing-page .cloud {
	display: block;
	width: 400px;
	position: absolute;
	right: 0;
	top: 50%;
	opacity: .2;
	}

}




/* FOOTER SECTION */

.site-footer{
	background-color: #356a7b;
}

.footer {
	display: flex;
	flex-direction: column;
	min-height: 10vh;
	padding: 20px 40px 20px 10px;
}



/* BREAKPOINT ONE Footer section */

@media (min-width: 700px) {
	.footer {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
	}
	p + p {
		margin-top: 0;
		margin-left: 10px;
	}
}




/* PRODUCT SECTION */


.product-list {
	background-color: #c4f0fd;
}

.product {
	padding: 30px 40px 20px 10px;
	display: flex;
	flex-direction: column;
	/*border: red solid;*/
}

.product-picture {
	/*border: blue solid;*/
	max-width: 50%;
}

.product-picture img {
	max-width: 100px;
	border-radius: 50%;
	overflow: hidden;
}

.content {
	/*border: purple solid;*/
	margin-top: 10px;
}

.product-list .cloud {
	display: none;
}

/* BREAKPOINT ONE Product section */

@media (min-width: 700px) {
	.product-list {
		padding: 20px 0;
	}
	.product {
		flex-direction: row;
		align-items: center;
		padding: 30px 10px;
	}
	.product-picture img {
		width: 80px;
		height: 80px;
	}
	.content {
		margin-top: 0;
		padding: 0 12px;
	}
	.product-list .cloud {
		display: block;
		width: 200px;
		opacity: .5;
		position: absolute;
		left: 85%;
		bottom: -10%;
	}
}

/* BREAKPOINT TWO Product section */

@media (min-width: 1100px) {
	.inner-column {
		display: flex;
	}
	.product {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.content {
		text-align: center;
		padding: 0px;
	}
	.content .regular-voice {
		margin-top: 8px;
	}
	.content h3 {
		margin-top: 10px;
	}
	.content a {
		display: inline-block;
		background-color: black;
		padding: 2px 15px;
		color: white;
		font-size: 12px;
		border-radius: 30px;
	}

	.product-list .cloud {
		display: block;
		width: 150px;
		opacity: .5;
		position: absolute;
		left: 90%;
		bottom: -13%;
	}

}
























































