
/* bike stylesheet */

@import 'meyer-reset.css';

* {
	box-sizing: border-box;
}

body {
	font-family: helvetica;
	/*border: red solid;*/
}



/* header section */




header{
	/*border: blue solid;*/
	background: url(https://peprojects.dev/alpha-4/steve/archives/bike-repair-mark-II/images/road-biking.jpg);
	background-size: cover;
}

.site-header {
	/*border: gray solid;*/
	padding: 20px;
	margin-top: 20px 10px;
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.header {
	font-size: clamp(30px, 10vw, 120px);
	color: white;
	background-color: hsla(75,80%,8%,0.7);
}

.sub-header {
	font-size: clamp(20px, 6vw, 90px);
	color: white;
	background-color: hsla(75,80%,8%,0.7);
}
h1 + p {
	margin-top: 10px;
}





/* schedule section */






.schedule {
	/*border: blue solid;*/
	font-size: clamp(12px, 6vw, 45px);
	/*padding: 10px;*/
	background-color: #7d93b2;
}

.hours {
	/*border: gray solid;*/
	padding: 10px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	color: white;
}



/* service section */






.service {
	/*border: blue solid;*/
	background-color: #963b12;
}

.service-content {
	/*border: gray solid;*/
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	text-align: center;
	color:  white;
}

.service h2 {
	font-size: 19px;
}

.service p {
	font-size: 16px;
}

h2 + p {
	margin-top: 10px;
}



/* pricing section */




.prices {
	/*border: blue solid;*/
	background: url(https://peprojects.dev/alpha-4/steve/archives/bike-repair-mark-II/images/bike-repair-two.jpg);
	background-size: cover;
	background-color: hsla(75,80%,8%,0.7);
}

.pricing {
	/*border: grey solid;*/
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	/*text-align: center;*/
	font-size: 24px;
	color: white;
	background-color: hsla(75,80%,8%,0.7);
}

.price-list {
	/*border: gray solid;*/
	padding: 10px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	color: white;
	background-color: hsla(75,80%,8%,0.7);
	/*text-align: center;*/
}

.price {
	padding: 10px;
}

.prices p {
	/*border: gray solid;*/
	padding: 10px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	color: white;
	background-color: hsla(75,80%,8%,0.7);
	/*text-align: center;*/
}

@media (min-width: 550px) {
	.pricing, .price, .prices p {
		text-align: center;
	}
}

@media (min-width: 550px) {
	.prices {
		background: url(https://peprojects.dev/alpha-4/steve/archives/bike-repair-mark-II/images/bike-repair-three.jpg);
	background-size: cover;
	}
}

/* rental section */




.rental {
	/*border: blue solid;*/
	background-color: #7d93b2;
	color: white;
}

.rental-content {
	/*border: gray solid;*/
	padding: 10px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.rental-content h2 {
	font-size: 20px;
	padding: 10px 30px;
}

.rental-content p {
	font-size: 16px;
	margin-top: 10px;
	padding: 10px 30px;
}

@media (min-width: 800px) {
	.rental-content {
		text-align: center;
	}
}




/* footer */



.footer {
	/*border: blue solid;*/
	background-color: #963b12;
}

nav {
	/*border: gray solid;*/
	padding: 10px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center; /* left */
	align-items: center; /* to */


}

nav a {
	padding: 10px 30px;	
	text-decoration: none;
	color: white;
}

nav p {
	padding: 10px 30px;
	color: white;
}


























