

.site-menu-two {
	background: var(--blue);
	color: var(--lightgray);
}

.site-menu-two main-logo img{
	width: 134px;
	height: 34px;
}

.site-menu-two globe-icon img{
	width: 20px;
	height: 20px;
}

.site-menu-two language-login {
	display: block;
}

.site-menu-two language-en {
	display: block;
}

.site-menu-two globe-icon {
	display: block;
}

.site-menu-two abbreviation-text {
	display: block;
	color: var(--white);
}

.site-menu-two inner-column {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 22px 120px;
/*   gap: 300px;*/
	
}

.site-menu-two .nav-links {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 30px;
}

.site-menu-two language-login {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 20px;
}

.site-menu-two language-en {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0px;
	gap: 7px;
}

.site-menu-two language-login log-in {
	padding: 8px 22px;
	background-color: var(--white);
	border-radius: 5px;
	color: var(--blue);
}

.site-menu-two .voice-four:hover {
	color: var(--white);
}

