
@media (min-width: 1000px) {
	.site-menu-four {
		display: none;
	}
}
.site-menu-four main-logo img{
	width: 134px;
	height: 34px;
}

.site-menu-four hamburger-icon {
	display: block;
}

.site-menu-four inner-column {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 22px 120px;
/*   gap: 300px;*/
	
}

.site-menu-four hamburger-icon img {
	width: 30px;
	height: 30px;
}

