site-map {
	display: block;
	/*padding: 20px;*/
}

site-map .site-menu {
	display: flex;
	/*gap: 10px;*/
}

site-map .site-menu a {
	padding: 10px 10px;
}

site-map .site-menu .home:hover {
	color: var(--white);
	background-color: var(--black);
}

site-map .site-menu .about:hover {
	color: var(--mustard);
	background-color: var(--black);
}

site-map .site-menu .projects:hover {
	color: var(--babyblue);
	background-color: var(--black);
}

site-map .site-menu .resume:hover {
	color: var(--lightgreen);
	background-color: var(--black);
}