site-map {
	display: block;
	padding: 20px;
}

site-map nav {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
	grid-gap: 10px;
}

site-map nav a:hover {
	color: var(--aqua);
}