
.projects-main {
	display: block;
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
}


.projects-main generic-text {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 20px
}

projects-grid {
	display: block;
	display: grid;
	gap: 20px;
	padding: 30px 20px
}

projects-grid article {
	display: block;
	display: grid;
	gap: 10px;
}

projects-grid article a:hover {
	color: var(--aqua);
}