
.home-main {
	background-image: url("../../../images/home-page6.JPG");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: var(--white);
}

.home-section {
	background-color: hsla(0, 0%, 0%, .7);
}

@media (min-width: 475px) {
	.home-main {
		background-image: url("../../../images/home-page3.JPG");
	}
}

@media (min-width: 800px) {
	.home-main {
		background-image: url("../../../images/home-page4.JPG");
		background-size: cover;
		background-repeat: no-repeat;
	}
}

@media (min-width: 1000px) {
	.home-main {
		background-image: url("../../../images/home-page.JPG");
		background-size: cover;
		background-repeat: no-repeat;
	}
}

welcome-landing {
	display: block;
	display: grid;
	padding: 20px;
	/*background-color: hsla(0, 0%, 0%, .5);*/
}
