

.faqs-two client-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 80px 120px;
	gap: 70px;
}

.faqs-two text-area {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 16px;
	padding: 0 150px;
   text-align: center;
}

.faqs-two question-list details {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px 5px;
	background: #FFFFFF;
	box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.15);
}


.faqs-two details[open] summary ~ * {
  animation: open 0.3s ease-in-out;
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.faqs-two details summary::-webkit-details-marker {
  display: none;
}

.faqs-two details summary {
  width: 400px;
  padding-bottom: 20px;
  position: relative;
  cursor: pointer;
  list-style: none;
  padding-left:40px;
  margin-left: 30px;
}

@media (min-width: 800px) {
	.faqs-two details summary {
	  width: 700px;
	}
}

@media (min-width: 950px) {
	.faqs-two details summary {
	  width: 800px;
	}
}

.faqs-two details summary:after {
  content: "+";
  color: var(--blue);
  position: absolute;
  font-size: 1.75rem;
  line-height: 0;
  margin-top: 0.75rem;
  left: 0;
  font-weight: 200;
  transform-origin: center;
  transition: 200ms linear;
}

.faqs-two details[open] summary:after {
  content:"-";
  color: var(--blue);
}

.faqs-two details summary {
  outline: 0;
}

.faqs-two details p {
   padding-left: 5px;
   color: var(--systemgray);
   border-left: 2px solid var(--blue);
   max-width: 70ch;
   margin-left: 100px;
}




