
graphic-diptych {
	display: block;
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 10vh 0;
	background-image: url(https://cdn.pixabay.com/photo/2015/05/19/18/48/ecuador-774032_1280.jpg);
	background-size: cover;
	/*border: blue 4px solid;*/
	color: var(--paper);
}

graphic-diptych p {
	margin-top: 20px;
}

graphic-diptych picture {
	opacity: 0;
}

@media (min-width: 555px) {
	graphic-diptych {
		flex-direction: row;
		align-items: center;
	}

	graphic-diptych :is(picture, text-content) {
		flex-basis: 50%;
	}
}

@media only screen and (max-width: 554px) {
   graphic-diptych picture {
		display: none;
	}
	graphic-diptych text-content {
		text-align:  center;
		padding: 10vh 0;
	}
}
