
html {
	--black: #000000;
	--white: #FFFFFF;
	--blue: #3563E9;
	--bluegray: #F7F9FE;
	--lightgray: #E0E0E0;
	--systemgray: #757575;
	--darkergray: #424242;
	--darkblue: #2851E3;
	--lightblue: #EFF3FD;


	--ink: var(--black);
	--paper: var(--white);

}
