
@import 'meyer-reset.css';
@import 'setup.css';
@import 'settings.css';
@import 'structure.css';
@import 'typography.css';
@import 'style.css';
@import 'components.css';
@import 'modules.css';



/* THEME */
body {
	background-color: var(--paper);
	color: var(--ink);
}

main {
	margin-top: 50px;
}



/*DEVELOPER TOOLS*/
inner-column {
	/*border: solid red 2px;*/
}
section {
	/*border: solid blue 2px;*/
}
/*.query {
	display: block;
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
	padding: 20px 0;
}*/

.project-site{
	padding: 0 20px;
}

/*.project-info .page-header {
	padding: 0 20px;
}*/

