
.library .page-content {
	text-align: center;
}

.library {
	color: var(--white);
}

music-added {
	display: grid;
	grid-template-columns: 1fr;
 	gap: 10px;
  	grid-auto-rows: minmax(100px, auto);
  	padding: 20px;
}

article {
	padding: 10px;
	border: solid white 1px;
}