resort-video {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px 0;
}

resort-video iframe {
	width: 320px;
   height: 150px;
   border: solid 1px black;
	border-radius: 8px;
}

@media (min-width: 560px) {
		resort-video iframe {
		width: 560px;
	   height: 315px;
	}
}

@media (min-width: 720px) {
		resort-video iframe {
		width: 720px;
	   height: 405px;
	}
}