
mast-head {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 1em 0;
	/*border: 4px solid blue;*/
	position: sticky;
	top: 0;
	z-index: 10;
}	


mast-head .logo-test {
	max-width: 7rem;
}

mast-head .logo-test * {
	fill: var(--ink);
}

mast-head nav ul {
	display: flex;
	flex-direction: row;
	align-items: center;
}

mast-head .user-menu ul {
	gap: 1em;
	justify-content: flex-end;
}

mast-head nav .home {
	
}

mast-head nav a:not(.home, .button, .icon, .search) {
	padding: .5em 1em;
	text-transform: uppercase;
}

mast-head nav a:hover {
	color: var(--link-hover);
}


@media only screen and (max-width: 685px) {
    mast-head nav a:not(.home, .button, .icon) {
        display: none;
    }
    mast-head .logo-test {
    	max-width: 4rem;
    }
    mast-head search-button{
    	display: none;
    }
}

@media (min-width: 686px) {
	mast-head nav .icon {
		display: none;
	}
}



