
.form {
	padding: 0 20px;
	background-image: url(../../images/concert.JPG);
	background-position: center;
	background-size: cover;
	min-height: 80vh;
}

.form h1 {
	color: var(--white);
	margin-bottom: 20px;
}

form {
	padding: 30px 0;
	background-color: hsla(0, 0%, 0%, .5);
	padding: 30px 20px;
	border: white 2px solid;
	color: white;

}

field textarea:focus-visible, input:focus-visible, select:focus-visible {
	outline-color: black;
 	outline-style: auto;
 	outline-width: 1px;
}

field {
	display: block;
}

field p {
	padding-bottom: 5px;
}

.radio {
	display: flex;
}

field :is(label, input) {
	display: block;
}

field + field, field + button {
	margin-top: 20px;
}

.error {
	color: yellow;
}

button, input, select {
	font-family: 'Montserrat';
	font-weight: 400;
	font-size: 18px;
	color: white;
	background-color: hsla(0, 0%, 0%, .5);
	border: solid 1px white;
	border-radius: 6px;
	padding: 3px 12px;
}

button {
	border: solid 1px white;
}

button:hover {
	color: black;
	background-color: white;	
}

