.resume-main {
	display: block;
	max-width: 800px;
	margin-right: auto;
	margin-left: auto;
	background: var(--babyblue);
}

.resume-main generic-text {
	display: grid;
	gap: 10px;
	padding: 20px;
	/*background: var(--paper);*/
}

.resume-main summary-text {
	display: grid;
	gap: 10px;
	padding: 10px 20px 10px 20px;
}

.resume-main work-experience {
	padding: 10px 20px;
}

.resume-main work-experience .job-info {
	display: grid;
	gap: 20px;
}

.resume-main work-experience ul .job-list {
	display: grid;
	gap: 8px;
}

.resume-main work-experience ul li .task {
	display: grid;
	gap: 5px;
	list-style: outside;
	list-style-type: square;
	margin-left: 1rem;	
}

.resume-main list-items {
	padding: 10px 20px;
}

.resume-main contact-info {
	padding: 10px 20px 100px 20px;
}

.resume-main contact-info ul {
	display: grid;
	gap: 15px;
}

@media (min-width: 600px) {
	.resume-main {
		display: grid;
		grid-template-columns: 4fr 8fr;
		grid-auto-rows: auto;
	}
	.resume-main .page-header {
		grid-column: 1/3;
		grid-row: 1/2;
	}
	.resume-main .summary-text {
		grid-column: 1/3;
		grid-row: 2/3;
	}
	.resume-main .work-experience {
		grid-column: 2/3;
		grid-row: 3/7;
	}
	.resume-main .contact-info {
		grid-column: 1/2;
		grid-row: 3/4;
	}
	.resume-main contact-info {
		padding: 10px 20px 10px 20px;
	}
	.resume-main .technical-skills {
		grid-column: 1/2;
		grid-row: 4/5;
	}
	.resume-main .interests {
		grid-column: 1/2;
		grid-row: 5/6;
	}
}









