
@import "meyer-reset.css";

@import "setup.css";

@import 'modules.css';


/*body * {
	border: 5px solid;
	padding:  5px;
}

body > * {
	border-color: dodgerblue;
}*/

html {
	--black: #111111;
	--white: #efefef;
	--gray: #A2A2A1;
	--darkgray: #3B3B3A;

	--paper: var(--black);
	--ink: var(--gray);
	--hover: var(--white);

}

.inner-column {
	width: 100%;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 0;
	
}

body {
	/*border: 5px solid red;*/
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: var(--paper);
	color: var(--ink);
	padding-bottom: 60px;
	/*gap: 30px;*/
}

.page-content {
	flex-grow: 1;
	gap: 20px;
	background-color: var(--darkgray);
	padding: 0 20px;
	/*border: red solid 2px;*/
}


/*typography*/

.louder-voice {
	font-size: 50px;
}

.loud-voice {
	font-size: 30px;
}

.attention-voice {
	font-size: 22px;
}



a {
	color: var(--ink);
}

a:hover{
	text-decoration: underline;
	color: var(--hover);
}

.loud-voice {
	margin-bottom: 20px;
}







