
@import "meyer-reset.css";

@import "setup.css";

/*body * {
	border: 5px solid;
	padding:  5px;
}

body > * {
	border-color: dodgerblue;
}*/

html {
	--black: #111111;
	--white: #efefef;
	--light-yellow: #F1FFC2;
	--light-pink: lavenderblush;
	--green: green;

	--paper: var(--white);
	--ink: var(--black);
	--top-menu

}

.inner-column {
	width: 100%;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	
}

body {
	/*border: 5px solid red;*/
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: var(--light-yellow);
	padding: 20px 0 0 0;
	/*gap: 30px;*/
}

.page-content {
	flex-grow: 1;
	gap: 20px;
	background-color: var(--light-pink);
}

.site-menu {
	display: flex;
	gap: 30px;
}

.hello {
	font-size: 40px;
}

picture img {
	width: 100px;
}

.loud-voice {
	font-size: 30px;
}

.list {
	display: grid;
	gap: 20px;
}

form {
	padding: 30px 0;
}

field {
	display: block;
}

.checkbox {
	display: flex;
}

field :is(label, input) {
	display: block;
}

field + field, field + button {
	margin-top: 20px;
}

a {
	color: var(--ink);
}

a:hover{
	text-decoration: underline;
}

.loud-voice {
	margin-bottom: 20px;
}










