footer site-map {
	padding: 1vh 1rem;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
	background-color: var(--olive-green);
	color: var(--sage);
}

footer site-map nav {
	display: flex;
	gap: 10px;
}

footer site-map p a{
	color: var(--sage);
	text-decoration-color: var(--sage);
}

