
.home-body {
	color: var(--white);
	background-color: var(--cream);
}

.home-inner {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
/*	grid-auto-rows: minmax(100px,auto);*/
	gap:20px;
	padding-bottom: 100px;
}

welcome-landing {
	display: block;
	display: grid;
	grid-column: 1/13;
	grid-row: 1/3;
	padding: 20px;
	background-color: hsla(0, 0%, 0%, .8);
	margin: 200px 0;
}

.page-header-content {
	display:block;
	grid-column: 1/12;
	grid-row: 4/6;
	padding:20px;
	background-color: hsla(0, 0%, 0%, .8);
}

list-items {
	display:block;
	grid-column: 1/12;
	grid-row: 6/9;
	padding:20px;
	background-color: hsla(0, 0%, 0%, .8);
}

.contacto-content {
	display:block;
	grid-column: 1/12;
	grid-row: 9/11;
	padding:20px;
	background-color: hsla(0, 0%, 0%, .8);
}



list-items ul {
	display: grid;
	gap:20px;
}

@media (min-width: 477px) {
	my-lfps {
		grid-column: 1/9;
	}
}

@media (min-width: 657px) {
	my-lfps {
		grid-column: 1/7;
	}
}

@media (min-width: 800px) {
	my-lfps {
		grid-column: 1/6;
	}
}

@media (min-width: 965px) {
	my-lfps {
		grid-column: 1/5;
	}
}