
.site-header {
	padding: 0 20px;
	/*border: blue solid 2px;*/
}

.site-header h1 {
	color: var(--white);
}

.site-header nav a {
	padding: 10px;
}

/* Use active here to highlight the page it is currently on. */
.site-header nav a.active {
	border-bottom: 5px solid white;
}

.site-menu {
	display: flex;
	gap: 30px;
}

