.home-main inner-column {
	max-width: 900px;
}

welcome-landing {
	display: flex;
	padding: 20px;
	justify-content: center
}

welcome-landing h2 {
	text-align: center;
}

song-media {
	display: block;
	padding: 20px;
}

.button {
	display: flex;
	flex-direction: column;
	align-items: center;	
	padding: 20px;
}

.home-main .button a {	
	border: solid 1px var(--sage);
	background-color: var(--sage);
	border-radius: 8px;
	padding: 8px 15px;
}

.home-main .button a:hover {
	background-color: var(--paper);
}



