

.footer-one {
	background-color: var(--blue);
	color: var(--white);
}

.footer-one inner-column {
	padding: 100px 120px;
}

.footer-one footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 47px;
}

.footer-one site-map {
	display: flex;
	justify-content: center;
	gap: 61px;
}

.footer-one link-list {
	display: flex;
	gap: 137px;
}

.footer-one list-content {
	display: flex;
	flex-direction: column;
	gap: 13px;
	padding-top: 30px;
}

.footer-one email-subscribe {
	padding: 30px 42px;
	background-color: var(--darkblue);
}

.footer-one email-content {
	display: flex;
	flex-direction: column;
	gap: 18px;
}

.footer-one subscribe-link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 0px 0px 15px;
	gap: 56px;
	background-color: var(--white);
	border-radius: 6px;
}

.footer text-placeholder {
/*	background-color: var(--white);*/
/*	border: 1px solid var(--systemgray);
	border-radius: 6px;*/
}

.footer-one submit-icon{
	padding: 13px;
	background: #3563E9;
	border-radius: 0px 6px 6px 0px;
}

.footer-one site-map subscribe-link img {
	width: 20px;
	height: 20px;
}

.footer-one email-content p {
	width: 34ch;
}

.footer-one hr {
	width: 100%;
	background: var(--white);
	opacity: 0.06;
	border: 1px solid var(--white);
}

.footer-one social-terms {
	display: flex;
	justify-content: space-between;
}

.footer-one social-terms main-logo img {
	width: 211px;
	height: 53px;
}

.footer-one social-terms legal-terms {
	display: flex;
	gap: 36px;
}

.footer-one social-terms social-icons {
	display: flex;
	gap: 15px;
}

.footer-one social-terms social-icons img {
	width: 35px;
	height: 35px;
}

















