
call-to-action {
	display: block;
	/*border: 4px solid orange;*/
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 10vh 0;
	background-color: hsla(120, 42%, 22%, .75);
}

call-to-action :is(h2, p) {
	padding: 0 30px;
	color: var(--paper);
}

call-to-action .button {
	margin-top: 20px;
	background-color: var(--ink);
	color: var(--paper);
	border: 1px solid white;
}

call-to-action .button:hover {
	background-color: var(--paper);
	color: var(--ink);
}