mast-head .site-menu {
	display: flex;
	justify-content: flex-end;
	/*gap: 10px;
	padding: 0 10px;*/
}

mast-head .site-menu a {
	padding: 10px 10px;
}

mast-head .site-menu .home:hover {
	color: var(--white);
	background-color: var(--black);
}

mast-head .site-menu .about:hover {
	color: var(--mustard);
	background-color: var(--black);
}

mast-head .site-menu .projects:hover {
	color: var(--babyblue);
	background-color: var(--black);
}

mast-head .site-menu .resume:hover {
	color: var(--lightgreen);
	background-color: var(--black);
}



