
html {
	--black: #000000;
	--white: #FFFFFF;

	--babyblue: #d0f4ff;
	--orange: #ff5500;

	--mustard: #c9aa10;
	--mustard2: #dbab61;

	--lightgreen: #dbffce;
	--darkgreen: #495645;
	--gray: #6c8685;
	--lightpink: #f8ecec;

	--lightyellow: #e94646;
	--brown: #382a1f;
	--turquois: #294f51;

	--wheat: #FFEFD5;
	--aqua: #00FFFF;

	--ink: var(--black);
	--paper: var(--white);
	--projecthover: var(--orange);
	--borders: var(--black);

	--olive: #a9993c;
	--sand: #d5c88b;
	--cream: #efead2;
	--fog: #9fa081;
	--lightgray: #dee0df;
	--blue: #0b66c2;
	--github: #f5f5f5;
}
