
@import "meyer-reset.css";

@import "setup.css";

/*body * {
	border: 5px solid;
	padding:  5px;
}*/

/*body > * {
	border-color: dodgerblue;
}*/

/* STRUCTURE */

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
}

.page-content {
	flex-grow: 1;
}

.inner-column {
	width: 100%;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid black;
	padding: 5px;
}



/* STYLE */

.site-header .inner-column {
	background-color: #acdabe;
}

nav {
	display: flex;
	border: 2px solid black;
	padding: 5px;
}

nav a {
	border: 2px solid black;
	padding: 5px;
}

.welcome .inner-column {
	padding-top: 30px;
	padding-bottom: 40px;
	background-color: #acdee9;

}

masthead {
	display: block;
	border: 2px solid black;
	padding: 5px;
}

masthead picture {
	border: 2px solid black;
	padding: 5px;
}

welcome {
	display: block;
	border: 2px solid black;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

welcome h1 {
	font-size: 30px;
	font-weight: 700;
	border: 2px solid black;
	padding: 5px;
	margin-bottom: 10px;
}

welcome p {
	border: 2px solid black;
	padding: 5px;
}

.module-one .inner-column {
	padding-top: 40px;
	padding-bottom: 30px;
	background-color: #dd9dc8;
}	

call-to-action-module {
	display: block;
	border: 2px solid black;
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

call-to-action-module h1 {
	font-size: 30px;
	font-weight: 700;
	border: 2px solid black;
	padding: 5px;
	margin-bottom: 10px;
}

call-to-action-module p {
	border: 2px solid black;
	padding: 5px;
	margin-bottom: 10px;
}

call-to-action-module a {
	display: inline-block;
	border: 2px solid black;
	background-color: black;
	color: white;
	text-decoration: underline;
	padding: 6px;
}

.module-two {
	padding-top: 70px;
	padding-bottom: 70px;
	background-color: #fdcc99;
}

.module-two .inner-column {
	padding: 20px 0;
}

article-grid {
	display: block;
	border: 2px solid black;
	padding: 5px;
}

article-grid h1 {
	font-size: 20px;
	font-weight: 700;
	border: 2px solid black;
	padding: 5px;
	margin-bottom: 10px;
}

article-grid p {
	border: 2px solid black;
	padding: 5px;
}

article-card {
	display: block;
	border: 2px solid black;
	padding: 5px;
}





